<section class="thirteen columns">
    <h1>CV竞赛</h1>
    <article>
        <header>
            <h1>Kaggle Tgs Salt Identification Challenge </h1>
            <span>32/3234(1%-solo)</span>
        </header>
        <p>
            <em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Kaggle Airbus Ship Detection </h1>
            <h>25/884(3%-solo)</h>
        </header>
        <p>
            <em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>
        </p>
    </article>

    <article>
        <header>
            <h1>Kaggle Quickdraw Doodle Recognition </h1>
            <h>96/1316(8%-team)</h>
        </header>
        <p>
            <em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>
        </p>
    </article>

    <article>
        <header>
            <h1>天池 FashionAI 服饰关键点检测 </h1>
            <span>34/2322(2%-team)</span>
        </header>
        <p>
            <em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>
        </p>
    </article>

    <article>
        <header>
            <h1>AIChallenger 人体骨骼关键点检测 </h1>
            <span>29/1735(2%-team)</span>
        </header>
        <p>
            <em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>
        </p>
    </article>

</section>
