<section class="thirteen columns">
    <hr />
    <h1>教育经历</h1>
    <article>
        <header>
            <h1 style="text-align:justify">本科&nbsp;&nbsp; 厦门大学&emsp;&emsp; 电气工程及其自动化</h1>
        </header>

        <p>
            <em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>硕士&nbsp;&nbsp; 华中科技大学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 自动化</h1>
        </header>
        <p style="font-family:arial;color:red;font-size:20px;">
            Dissertation: Te dicit scripta nec, nec illud decore partem et.
        </p>
    </article>
</section>
