<section class="thirteen columns">
    <hr />
    <h1>科研项目</h1>
    <article>
        <header>
            <h1>自然场景下的面部语义分割</h1> 
            <em><a href="https://v.youku.com/v_show/id_XNDAwMTQwMjUxMg==.html?spm=a2h0k.11417342.soresults.dtitle">[DEMO vido on YOUKU]</a></em>
        </header>
        <p>Lorem ipsum dolor sit amet, his et viris petentium philosophia,
            at vix debitis deleniti. At vis velit volumus alienum, agam vocent assueverit usu ex. </p>
    </article>

    <article>
        <header>
            <h1>半监督场景下的视频目标语义分割</h1>
            <span><address>Edinburgh, UK</address><time>2015 to Present</time></span>
        </header>
        <p>Lorem ipsum dolor sit amet, his et viris petentium philosophia,
            at vix debitis deleniti. At vis velit volumus alienum, agam vocent assueverit usu ex. </p>
    </article>

</section>
