<section class="thirteen columns">
    <h1>编程技巧</h1>
    <article>
        <header>
            <h1>编程语言</h1>
            <p>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
                &nbsp;&nbsp;<em>Python</em>
            <p>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                &nbsp;&nbsp;<em>C++</em>
            </p>
        </header>
    </article>


    <article>
        <header>
            <h1>深度学习框架</h1>
            <p>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
                &nbsp;&nbsp;<em>Pytorch</em>
            <p>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                &nbsp;&nbsp;<em>Tensorflow</em>
            </p>
        </header>
    </article>
</section>