<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.name }}'s Résumé">
    <meta name="author" content="{{ site.name }} @{{ site.twitter }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{{ site.baseurl }}static/css/base.css">
    <link rel="stylesheet" href="{{ site.baseurl }}static/css/skeleton.css">
    <link rel="stylesheet" href="{{ site.baseurl }}static/css/layout.css">
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

    <link rel="shortcut icon" href="{{ site.baseurl }}static/img/favicon.ico">

</head>
<body>
<div class="container">
    <header class="three columns">
        <img src="{{ site.baseurl }}static/img/profile.png" class="me">
        <h1>{{ site.name }}</h1>
        <p>
            {{ site.tel }}
        </p>
        <p>
            {{ site.email }}
        </p>
        <address>
                {{ site.address.country }}
                {{ site.address.city }}
        </address>


        <p>
            <a href="https://github.com/{{ site.github }}"><i class="fab fa-github"></i> Github</a> <br/>
        </p>
        <p>
            <a href="https://www.kaggle.com/{{ site.kaggle }}"><i class="fab fa-kaggle"></i> &nbsp &nbspKaggle</a>
        </p>
    </header>
    <div class="thirteen columns clearfix">
        {{ content }}
    </footer>
    </div>
</div>


</body>
</html>
